#nav {
    /* border: 2px solid black; */
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}
#nav :hover{
    background-color: rgba(238, 238, 238, 0.937);
    border-radius: 10px;
}

.top {
    padding: 10px 15px;
    color: #000000;
    font-weight: bolder;
    font-size: larger;

}
.leftside{
    margin: 44px 108px 19px 98px;
    
}

#container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 1rem;
    margin: -11px 96px;
    padding: 31px;
    width: 958px;
    height: 730px;
    background-color: rgb(244, 244, 244);
}

.item {
    /* height: 100px;
    width: 100px; */
    background-color: green;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;

}
.itemone{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 2rem;
    background-color: red;
    height: 19px;
    left: 11px;
    top: 282px;
    position: relative;
    padding: 19px;
    margin: 3px 645px 16px 117px;
    border: 2px solid black;
}
.itemtwo{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 2rem;
    background-color: blue;
    height: 19px;
    left: 495px;
    top: 205px;
    position: relative;
    padding: 19px;
    margin: 3px 658px 16px 117px;
    border: 2px solid black;
}

#container2 {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 1rem;
    margin: -11px 96px;
    padding: 31px;
    width: 958px;
    height: 771px;
    background-color: rgb(244, 244, 244);
}
.itemfirstone{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 2rem;
    background-color: red;
    height: 19px;
    left: 11px;
    top: 362px;
    position: relative;
    padding: 19px;
    margin: 3px 354px 16px 117px;
    border: 2px solid black;
}
.itemsecondone{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 2rem;
    background-color: blue;
    height: 19px;
    left: 135px;
    top: 285px;
    position: relative;
    padding: 19px;
    margin: 3px 299px 16px 117px;
    border: 2px solid black;
}
.item2 {
    /* height: 100px;
    width: 100px; */
    background-color: brown;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
    

}

#leftcontainer {
    top: 91px;
    left: 23px;
    position: relative;
    width: 371px;
    height: 738px;
    background-color: rgb(244, 244, 244);
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 1rem;
    margin: -77px 81px;
    padding: 69px;
}
.itemfirst1{
    background-color: rgb(84, 84, 182);
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.itemsecond2{
    background-color: red;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.itemthird3{
    background-color: green;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.itemfourth4{
    background-color: blue;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.itemfive5{
    background-color:pink;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.itemsix6{
    background-color: orange;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.itemsecond2{
    background-color: brown;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.itemseven7{
    background-color: wheat;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.itemeight8{
    background-color: magenta;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.itemnine9{
    background-color: yellow;
    padding: 12px 5px;
    border: 2px solid;
    color: black;
    font-weight: bolder;
}
.points{
    margin: 14px 127px 16px 118px;
    position: relative;
    top: 175px;
}
#lorem{
    position: relative;
    top: 160px;

}
#newpoint{
    position: relative;
    top: 160px;
    margin: 14px 127px 16px 118px;
}
#secondlast{
    position: relative;
    top: 160px;
    margin: 44px 108px 19px 98px;
}
#last{
    position: relative;
    top: 160px;
    background-color: rgb(64, 64, 88);
    margin: -6px 95px;
}
#final{
    position: relative;
    top: 150px;
    color: white;

}